
.col2{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('/images/cht2.jpg');
   /*background-image:url('/images/etablissementon2926.jpg');*/
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.col1{
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)),url('/images/cht1.jpg');
   /*background-image:url('/images/etablissementon2926.jpg');*/
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
.content_square_cht{
    top: 15%;
    left: 0;
    right: 0;
}