@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css");
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Calibri";
  }
  /*section menue*/
  .nav-link{
    color: white;
    margin: 12px;
    font-size: 24px;
    font-weight: 700;
  }

.navbar{
    background-color: #358BC6;
    opacity: 0.9;
}
.btn_connexion{
    background-color: #FFC107;
    border-radius: 5px;
    border: 0px solid #FFC107;
}
.btn_inscription{
    background-color: #F08528;
    border-radius: 5px;
    border: 0px solid #F08528;
}
.active_link{
    border-bottom:3px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.logosmtta{
    width: 70px;
    height: 70px;
    object-fit: cover;
}
#banner{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.6)),url('/images/etablissementon2926.jpg');
   /*background-image:url('/images/etablissementon2926.jpg');*/
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
h1{
    font-size: 58px;
}
.containt_cta{
    border: 3px solid white;
    padding: 10px;
    margin-top: 5rem;   
    border-radius: 5px;
    border-bottom: #358BC6 15px solid;
    margin-bottom: 3rem;
}
.btn_inscrire{
    color: #358BC6;
    border-radius: 10px;
}
.containt_cta h2{
    font-size: 58px;
    color: white;
    font-weight: bold;
}

.containt_cta p{
    font-size: 24px;
    color: white;
    font-weight: bold;
    
}
.content_box_shadown{
    bottom: -6rem;
    left: 0;
    right: 0;
}
.content_demande h2{
    margin-top: 5%;
    color: #358BC6;
}
.bar_soulignement1{
    width: 25%;
    height: ;
    background-color: #358BC6;
}
.content_critere{
    border-radius: 20px;
    border-top: #358BC6 5px solid;
}
.btn_critere{
    border-radius: 10px;
    border: #358BC6 3px solid;
}
li{
    color: #358BC6;
    font-size: 28px;
    font-weight: 500;
    margin-top: 5px;
}
.btn_contact{
    border-radius: 5px;
    background-color: white;
}
.btn_contact i{
    font-size: 24px;
    margin-right: 5px;
    color: #358BC6;
}
.logo_partenaire{

    width: 100%;
    object-fit: cover;
}
.footer{
    background-color: #2F2F2F;
    padding-top: 1%;
}
.bar_separateur_footer{
    border-left: 3px solid white;
    height: 15rem;
    margin-top: 10px;
}
.lien_media_sociaux
{
    color: #2F2F2F;
    margin: 5px;
}
#section_assistance{
    background-color: #358BC6;
    margin-top: 10%;
    padding: 3%;
    
}
@media only screen and (max-width: 1000px) {
    
    .lien_btn_credit .lien_btn_cht{
        margin-left: 0;
    }
  }

  @media only screen and (max-width: 730px) {
    h1{
        font-size: 32px;
    }
    li{
        font-size: 18px;
    }
    .containt_cta{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .content_box_shadown{
        bottom: -8rem;
    }
    .col_footer{
        align-items: center;
        justify-content: center;
        background-color: red;
        padding: 0 15px 0 15px;
    }
    .bar_separateur_footer{
        border-bottom: 3px solid white;
        height: 0.0rem;
    }
    .lien_media_sociaux svg{
        width: 1.3em;
    }
    .copyright{
        font-size: 13px;

    }
  }
  