@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css");
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Calibri";
  }
  /*section menue*/
  .nav-link{
    color: white;
    margin: 10px;
    font-size: 24px;
    font-weight: 700;
  }
  .active_link{
    border-bottom:3px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
  .btn_connexion{
    background-color: #FFC107;
    border-radius: 5px;
    border: 0px solid #FFC107;
}
.btn_inscription_cta{
    background-color: #F08528;
    border-radius: 5px;
    border: 0px solid #F08528;
}
  .input_search{
    margin-top: 10px;
    border-top-left-radius: 8px;
    height: 30px;
  }
  .logosmtta{
    width: 120px;
    height: 100px;
    object-fit: cover;
}
.navbar-nav{
    padding-left: 10rem;
}
.navbar{
    background-color: #3b3f43;
    opacity: 0.9;
}
/*section banner*/
.content_logo_sur_banner{
    position: absolute;
    background-color: #ffff;
    box-shadow: 0px 60px 51px 40px #fff;
    height: 15%;
    top:0;
}
#banner{
    background-image: url('images/2\ \(fcp12\).jpg');
    height: 100vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.img_slider{
    height: 100vh;
    object-fit: cover;
}
.logos_sur_banner{
    width: 40%;
    height: 100%;
    object-fit: contain;
}
.titre_demande_credit{
    /*margin-left: -2.5rem;*/
}
#demande_credit{
    position: absolute;
    background-color: #3b3f43;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 60%;
    opacity: 0.9;
    bottom: 25%;
    left: 0;
    right: 0;

}
.btn_inscription{
    background-color: #fd2d18;
    border-radius: 25px;
    padding: 2px;
    color: white;
    font-size: 28px;
    font-weight: 700;
    width: 15rem;
    border: #fd2d18 1px solid;
   
}
.btn_cta{
    background-color: #ff7403;
    padding: 5px;
    border-radius: 45px;
    border: #fc8627 1px solid;
    width: 17rem;
    height: 4rem;
    box-shadow: 5px 10px;
}
.btn_cht{
    background-color: #085b93;
    padding: 5px;
    border-radius: 45px;
    border: #2a8ccd 1px solid;
    width: 19rem;
    height: 4rem;
    box-shadow: 5px 10px;
}
.lien_btn_credit{
    margin-left: -4rem;
}
.lien_btn_cht{
    margin-left: -5rem;
}
.arrow{
    font-size: 45px;
}
.mesage_btn_cta{
    margin-top: -2.5rem;
}

#mot_du_ministre{
    background-color: #53a3dc;;
}
.img_du_ministre{
    margin-top: -2.8rem;
    border: 4px solid white;
    z-index: 1;
    height: 160px;
    width: 160px;
    object-fit: cover;
}
#section_assistance{
    background-color: #fbfbf9;
}
.assistance{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fd7e14 ;
    
}

.contact_assistance{
    height: 50px;
    padding: 15px;
    background-color: #3b3f43;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.bar_separateur {
    border-left: 3px solid white;
    height: 35px;
    margin-top: 10px;
  }
  .bar_separateur_contact{
    border-left: 3px solid white;
    height: 35px;
    margin-top: 10px;
  }
  .bar_separateur_assistance{
    border-left: 3px solid white;
    height: 25px;
    margin-top: 0px;
  }
  .accompagnement{
    background-image: url('../images/accompagnement1.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    height:100vh;
  }
  .box_shadow_accompagnement{
    position: absolute;
    bottom: 0;
    text-align: center;
    box-shadow: 0px -25px 42px 67px #fff;
  }
  .text_accompagnement{
    position: absolute;
    top: 40%;
    color: white;
    text-align: center;
    left: 5%;
  }
  .text_accompagnement h2{
    font-weight: bold;
    font-size: 48px;
    
  }

.nos_partenaire{
  
    height: 55px;
    padding: 15px;
    background-color: #3b3f43;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}
.logo_partenaire{
    width: 100px;
    height: 200px;
    object-fit: contain;
}
#nos_partenaires{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.nos_partenaire div{
    padding: 15px; 
}
.logo_partenaires{
    margin: 0 auto;
    margin-top: 35px;
}
.conent_a_propos{
    position: absolute;
    padding: 30px;
    bottom: 0%;
    color: white;
    background-color: #3b3f43;
    border-top-right-radius: 15px;
    opacity: 0.9;
    width: 50%;

}
.nous_contacter{
    background-color: #3b94cc;
}
.media a{
    color: white;
    margin-left: 20px;
    margin-right: 10px;
}

.div_content_a_propos{
    /*background-image: url('/images/10\ Gorée.jpg');*/
    height: 80%;
    width: 100%;
    position: relative;
    object-fit: contain;
}
@media only screen and (max-width: 1000px) {
    
    .lien_btn_credit .lien_btn_cht{
        margin-left: 0;
    }
    .navbar-nav{
        padding-left: 0;
    }
    #demande_credit{
        width: 100%;
    }
    #mot_du_ministre{
        height: auto;
    }
  }

  @media only screen and (max-width: 715px) {
    .nav-link{
        margin: 2px;
        font-size: 16px;
      }
    .div_btn_cta{
        margin-bottom:10px;
    }
    #demande_credit{
        bottom: 5%;
    }
    .conent_a_propos{
        width: 100%;
    }
    .navbar-nav{
        padding-left: 0;
    }
    #mot_du_ministre{
        height: auto;
    }
  }
  
   
